<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand" href="#">AnGra- TypeScript</a>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="flight">Flight</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="carrier">Carrier</a>
      </li>
    </ul>
  </div>
</nav>

<div class="mdl-layout__content content"><router-outlet></router-outlet></div>
