<h1 class="text-center">Flight Carrier List</h1>

<div class="container col-xs-1 text-center">
  <div class="form-row align-items-center mt-3 mb-3">
    <div class="col-sm-6">
     
      <input
        placeholder="Start typing the Flight Code and  Press &crarr;"
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        (selectItem)="onNgbFocusOrClick($event)"
        #instance="ngbTypeahead"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Flight Date</th>
            <th scope="col">Flight Code</th>
            <th scope="col">Flight Ref</th>
            <th scope="col">Airport</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Air Time</th>
            <!-- <th scope="col">Distance</th>
            <th scope="col">Tail No.</th> -->
            <th scope="col">Airline</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights">
            <td>{{ flight.id }}</td>
            <td>{{ flight.flight_date }}</td>
            <td>{{ flight.flight_code }}</td>
            <td>{{ flight.carrier.flight_ref }}</td>
            <td>{{ flight.airport }}</td>
            <td>{{ flight.origin }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.air_time }}</td>
            <!-- <td>{{ flight.distance }}</td>
            <td>{{ flight.carrier.tailnum }}</td> -->
            <td>{{ flight.carrier.airline }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
